{% extends "base.html" %}
{% block title %} Report {% endblock %}
{% block customheaders %}
    <link href="/static/css/json.human.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/topojson.min.js"></script>

    <script type="text/javascript" src="/static/js/json.human.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>
    <script type="text/javascript" src="/static/js/real_setComments.js"></script>
    <script type="text/javascript" src="/static/js/real_setTree.js"></script>
    <script type="text/javascript" src="/static/js/real_setMap.js"></script>
    <script type="text/javascript" src="/static/js/real_setPanels.js"></script>
    {# Google recaptcha for comment security    #}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {# Bootstrap Tag input   #}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap3-typeahead.js"></script>
{% endblock %}
{% block customcss %}
        table {
            table-layout: fixed;
            margin-top: 10px;
            font-size: 10px;
        }

        #first > div td:nth-of-type(1){
            font-weight: bold;
        }

        #first {
             overflow: auto;
        }

        td {
            text-overflow: ellipsis;
            width: 20px;
            overflow: hidden;
        }

        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3.5px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke-width: 2px;
        }

        #sidebar {
            height: 100%;
            font-size: 10px;
        }

        #main {
            height: calc(100% - 80px);
        }

        .test {
            margin-bottom: 2px;
            max-height: 30px;
            transition: max-height 0.5s linear;
            /* Animation time */
            -webkit-transition: max-height 0.5s linear;
            /* For Safari */
        }

        .test-in {
            padding: 8px;
        }

        .panel-title {
            font-size: 11px;
        }

        .panel-body {
            padding: 8px;
        }

        .panel {
            margin-bottom: 2px;
            overflow-y: auto;
        }

        .pgroup {
            margin-bottom: 8px;
        }

        .actionspecial {
            margin: 0px;
            padding: 8px;
            font-size: 15px;
            width: 30px;
            height: 30px;
        }

        .test:hover {
            max-height: 100%;
        }
        div.panel div a{
            cursor: pointer;
        }

        /*style for map*/
        .map path{
            stroke: white;
            stroke-width: 0.25px;
            fill: grey;
        }
        #wrap .tree,
        #wrap .map{
            position: absolute;
            left: 0;
            top: 0;
        }
        #wrap .tree{
            /*display: none;*/
        }
        #wrap .map{
            display: none;
            margin: 0;
        }
        #wrap #map-tree{
            z-index: 2;
        }
        div.tooltip {
            top: 0;
            left: 0;
            background: lightsteelblue;
            border-radius: 8px;
            border: 0px;
            font: 20px sans-serif;
            padding: 8px 10px;
            position: absolute;
        }
    
        #first table {
            table-layout: fixed;
        }

        #first table td{
             word-wrap: break-word;
        }

            /**
     ----------------------------------*/
     * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
     }

    ul {
        list-style-type: none;
    }

    body {
        font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
        background: #dee1e3;
    }

    /** ====================
     * List de Comments
     =======================*/
    .comments-container {
        margin: 60px auto 15px;
        width: 768px;
    }

    .comments-list {
        margin-top: 30px;
        position: relative;
    }

    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }

    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }

     ---------------------------*/
    .comments-list .comment-box {
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    }

    .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }

    .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
    }

    .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}

        .bootstrap-tagsinput {
            width: 100%;
            margin-top: 10px
    }

    .label {
        line-height: 2 !important;
    }

    .tag {
        font-size: 130%;
    }

{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" style="margin-bottom: 10px; margin-top: -19px">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li id="comments-tab-name" style="visibility: hidden"><a id="comments-tab" data-toggle="tab" href="#comments"></a></li>
        <li><a data-toggle="tab" href="#scan_settings">Scan settings</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            {% if not authorisation %}
                <p style="margin-left: 15px"> You are not authorised to do that</p>
            {% endif %}

            <div class="container" style="width:100%" id="main">
                <div class="row" style="height:100%;overflow:auto;">
                    <div class="col-md-4" id="sidebar">

                        <div class="panel panel-default" id="first">
                            <div class="panel-body test-in">
                                <b>Basic info</b>
                            </div>
                        </div>
                        <div class="panel panel-default test" id="samples">
                            <div class="panel-body test-in">
                                <b>Samples</b>
                            </div>
                        </div>
                        <div class="panel panel-default test" id="codes">
                            <div class="panel-body test-in">
                                <b>Codes</b>
                            </div>
                        </div>
                        <div class="panel panel-default test" id="plugins">
                            <div class="panel-body test-in">
                                <b>Plugins</b>
                            </div>
                        </div>

                        <div class="panel panel-default" id="task">
                            <div class="panel-body test-in">
                                <b>Tags</b>
                                <form id="bootstrapTagsInputForm" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <input id="tags-input" type="text" name="tags" class="form-control"
                                                   value="" data-role="tagsinput" data-provide="typeahead"/>
                                        <input type="submit" id="tag_save" class="btn btn-primary" value="Save Tags" style="font-size: 10px;"></li>


                                </form>
                            </div>
                        </div>

                        <div class="panel panel-danger pgroup" style="max-height:110px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel danger</h3>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>


                        <div class="panel panel-warning pgroup" style="max-height:110px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel warning</h3>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8" style="height:86%;position: fixed; margin-left: 33%">
                        <div class="panel panel-default" style="width:92%;height:100%">
                            <div class="col-md-12" style="height:99%;" id="wrap"></div>
                        </div>
                    </div>
                    <button id="bookmark-toggle" class="btn btn-warning btn-fab {% if bookmarked %} mdi-action-turned-in {% else %} mdi-action-turned-in-not {% endif %}" style="position:absolute;right:1%;bottom:15%;"></button>
                    <button id="map-tree" class="btn btn-info btn-fab mdi-action-swap-horiz" style="position:absolute;right:1%;bottom:5%;"></button>
                </div>
            </div>
            <!-- Your site ends -->

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" style="float:right;background:transparent;border:none">&times;</button>
                            <h4 class="modal-title">&nbsp;</h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="comments" class="tab-pane fade">

        <div class="comments-container" >

            <div class="panel panel-primary" style="word-wrap: break-word; margin-bottom: 50px">
                <div class="panel-heading">
                    <h3 class="panel-title">Selected Node</h3>
                </div>
                <div class="panel-body">
                    <h4 id="comment-title"></h4>
                    <h4 id="comment-ip-title"></h4>
                </div>
            </div>

            <div class="panel panel-primary" style="word-wrap: break-word; margin-bottom: 50px">
                <div class="panel-heading">
                    <h3 class="panel-title">Comments</h3>
                </div>
                <div class="panel-body" style="background-color: #dee1e3">
                   <ul id="comments-list" class="comments-list">
                   </ul>
                </div>
            </div>

            <div class="panel panel-primary" style="word-wrap: break-word">
                <div class="panel-heading">
                    <h3 class="panel-title">Post a comment on this node</h3>
                </div>
                <div class="panel-body" style="background-color: #dee1e3">
                   <form method="post">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" id="comment-node" name="node">
                            {{ comment_form.text }}

                        </div>
                        <div class="g-recaptcha" data-sitekey="6LeFIyYTAAAAAHNC_1fyVKgJGJQP19M2Kcgp_Mrc"></div>
                        <input type="submit" id="rule_save" class="btn btn-danger" value="Comment" style="margin-bottom:20px;margin-left:20px;"></li>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="scan_settings" class="tab-pane fade">
        <div style="margin-left: 10px">
            <h3>Sharing Options:</h3>
            <form method="post">
                {% csrf_token %}
                {{ settings_form.sharing_model }}
                {{ settings_form.sharing_groups }}
                <input type="submit" id="rule_save" class="btn btn-danger" value="Save" style="margin-bottom:20px;margin-left:20px;"></li>
            </form>
        </div>
    </div>
{% endblock %}
{% block bottomscripts %}

        var object_id = '{{ task.object_id }}';
        var task_id = '{{ task.id }}' || "None";
        var authorisation = '{{ authorisation }}';
        var tags = '{{ tags | safe }}';
        var typeahead_data = {{ typeahead | safe }}

        if (authorisation == 'True') {

            if (tags != 'None'){
                $('#tags-input').attr('value', tags);
            }

            var elt = $('#tags-input')
            elt.typeahead();

            $('#tags-input').tagsinput({
                typeahead:{
                     source: typeahead_data
                }
            });

            $('.comment-input').val('');

            $("[value='"+'{{ task.sharing_model }}' + "']").attr('selected', 'selected')

            $(function() {
                $.material.init();
                var tooltip = d3.select("body")
                    .append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0);

                $('#map-tree').click(function(){
                    if($('#wrap .tree').css('display')=='none'){
                        $('#wrap .tree').fadeIn();
                        $('#wrap .map').fadeOut();
                    }else{
                        $('#wrap .tree').fadeOut();
                        $('#wrap .map').fadeIn();
                    }
                });

                $.getJSON("/api/v1/analysiscombo/" + object_id + "/?format=json",
                    function(full_analysis) {
                        window.full_analysis=full_analysis;
                        setMap(tooltip);
                        setTree();
                    });

                $("#bookmark-toggle").click(function(){
                    $.get('/togglebookmark/',
                        {
                            taskId: task_id
                        },function(){
                            if($("#bookmark-toggle").hasClass('mdi-action-turned-in')){
                                $("#bookmark-toggle").removeClass('mdi-action-turned-in');
                                $("#bookmark-toggle").addClass('mdi-action-turned-in-not');
                            }else{
                                $("#bookmark-toggle").removeClass('mdi-action-turned-in-not');
                                $("#bookmark-toggle").addClass('mdi-action-turned-in');
                            }
                    });
                });

            });
        }
{% endblock %}